<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Welcome to Youtube Sync</title>
    <!-- Bootstrap Requirements -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div id="wrapper">
        <div id="mainContainer">
            <h1 id="mainHeading">Welcome to Youtube Sync</h1>
            <img id="youtubeImage" src="/static/youtubeLogo.png" />
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newSessionModal">Create New Session</button>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#joinSessionModal">Join Existing Session</button>
        </div>
    </div>

    <!-- Bootstrap Modal for New Session  -->
    <div id="newSessionModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enter Video ID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="NSvideoIDInputTextBox" style="width: 100%" type="text" name="message" placeholder="Video ID">
                    <h6>Error</h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="createSession(document.getElementById('NSvideoIDInputTextBox').value)">Create Session</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Modal for Joining Session  -->
    <div id="joinSessionModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enter Room ID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="JSroomIDInputTextBox" style="width: 100%" type="text" name="message" placeholder="Room ID">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="joinSession(document.getElementById('JSroomIDInputTextBox').value)">Join Session</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function createSession(videoID) {
            if (videoID=="") {
                alert('Enter Valid Video ID');
                return;
            }

            var myRequest = new XMLHttpRequest();
            myRequest.open('GET', document.URL+'room/add?videoID='+videoID)
            myRequest.onreadystatechange = function() {
                if (myRequest.readyState == 4) {
                    response = JSON.parse(myRequest.responseText);
                    if (response.status == 200) {
                        window.location = document.URL+"watch/"+response.roomID
                    } else {
                        alert('Failure')
                    }
                }
            }
            myRequest.send();
        }

        function joinSession(roomID) {
            if (roomID=="") {
                alert('Enter Valid Room ID');
                return;
            }

            var myRequest = new XMLHttpRequest();
            myRequest.open('GET', document.URL+'room/check?roomID='+roomID)
            myRequest.onreadystatechange = function() {
                if (myRequest.readyState == 4) {
                    console.log(myRequest.responseText);
                    response = JSON.parse(myRequest.responseText);
                    if (response.status == 200) {
                        window.location = document.URL+"watch/"+roomID
                    } else {
                        alert("Room doesn't exist")
                    }
                }
            }
            myRequest.send();
        }
    </script>
    <!-- Bootstrap Requirements -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>