<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Youtube Video Sync</title>
    <!-- Bootstrap Requirements -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='watch.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div id="playerContainer" class="col-lg-9 container">
                <h2 id="videoTitle"></h2>
                <div id="iframeContainer">
                    <div id="player"></div>
                </div>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#changeVideoModal">Change Video</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="logout()">Log Out</button>
            </div>

            <div id="chatContainer" class="col-lg-3 container">
                <div id="chatHeadingContainer">
                    <h2 id="chatHeading">Chat</h2>
                </div>
                <div id="allChatsContainer">
                    <div class="message">
                        <p>
                            <strong>Name</strong> : Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Proin consequat, nisl iaculis pulvinar gravida, nisl dui vulputate justo, eget 
                            ullamcorper nisi dui vel lorem. Vivamus id enim lectus.
                        </p>
                    </div>
                    <div class="message">
                        <p>
                            <strong>Name</strong> : Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Proin consequat, nisl iaculis pulvinar gravida, nisl dui vulputate justo, eget 
                            ullamcorper nisi dui vel lorem. Vivamus id enim lectus.
                        </p>
                    </div>
                    <div class="message">
                        <p>
                            <strong>Name</strong> : Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Proin consequat, nisl iaculis pulvinar gravida, nisl dui vulputate justo, eget 
                            ullamcorper nisi dui vel lorem. Vivamus id enim lectus.
                        </p>
                    </div>
                    <div class="message">
                        <p>
                            <strong>Name</strong> : Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Proin consequat, nisl iaculis pulvinar gravida, nisl dui vulputate justo, eget 
                            ullamcorper nisi dui vel lorem. Vivamus id enim lectus.
                        </p>
                    </div>
                    <div class="message">
                        <p>
                            <strong>Name</strong> : Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Proin consequat, nisl iaculis pulvinar gravida, nisl dui vulputate justo, eget 
                            ullamcorper nisi dui vel lorem. Vivamus id enim lectus.
                        </p>
                    </div>
                    <div class="message">
                        <p>
                            <strong>Name</strong> : Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Proin consequat, nisl iaculis pulvinar gravida, nisl dui vulputate justo, eget 
                            ullamcorper nisi dui vel lorem. Vivamus id enim lectus.
                        </p>
                    </div>
                </div>
                <div id="sendMessageContainer">
                    <form id="messageForm" action="">
                        <input id="messageInputTextBox" type="text" name="message" placeholder="Message">
                        <input id="messageInputSubmitButton" type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap Modal for Changing Video  -->
    <div id="changeVideoModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enter New Video ID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="videoIDInputTextBox" style="width: 100%" type="text" name="message" placeholder="Video ID">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Change Video</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        
        // This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // This function creates an <iframe> (and YouTube player)
        // after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '585',
                width: '960',
                videoId: '{{videoID}}',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }
        
        // The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            console.log('player ready');
            document.getElementById('videoTitle').innerText = player.getVideoData().title
        }

        // The API calls this function when the player's state changes.
        function onPlayerStateChange(event) {
            console.log('player state change');
        }

        // Called when logout button is clicked
        function logout() {
            window.location = "/logout"
        }

    </script>
    <!-- Bootstrap Requirements -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>